@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




h1,h2,h3,h4,h5,h6,p,span,a,li{
  font-family: 'Inter', sans-serif;
}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(50px);
  }
  }
  
    .animate-up-down {
    animation: upDown 5s ease-in infinite alternate-reverse;
  } 

  .p-paginator.p-component {
    border: 1px solid #ddd;
}




nav.p-paginator-bottom {
  margin-top: 20px;
}

.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled.p-paginator-rpp-options {
  border: 1px solid #ddd;
}

button.p-paginator-page.p-paginator-element.p-link.p-highlight {
  background: #F0FDFA;
}